/* use this to put borders around things... */
.thin_border{
  border: 6px solid black;
  color:green;
	
}
img {
	float: left;
  }

  h3{
	margin-bottom: 20px;
	padding-top: 8px;
	text-align: center;
	background-color:lawngreen;
  }
  h2{
	  color: green;
  }
  p{
	  color: navy;

    }
  font{
	  color: #000;
  }
  a:hover{
	  color: green;
	  background: whitesmoke;

  }
  -greenlink:hover{
	  color: darkblue;
	  background: red;
  }
 
  
